# 02 â€” Data Cleaning
Handling missing values, types, duplicates.

In [1]:
import seaborn as sns
import pandas as pd
df = sns.load_dataset('titanic')
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

### Exercises
1. Impute median age.
2. Convert pclass to category.